@model MyLibrary.ViewModels.BookSetViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-warning">@ViewBag.Error</div>

            }
           

            <div class="form-group">
                <label asp-for="@Model.Libraries" class="control-label"></label>
                <input asp-for="@Model.Libraries" class="form-control" />
                <span asp-validation-for="@Model.Libraries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookSet.Name" class="control-label"></label>
                <input asp-for="BookSet.Name" class="form-control" />
                <span asp-validation-for="BookSet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookSet.Width" class="control-label"></label>
                <input asp-for="BookSet.Width" class="form-control" />
                <span asp-validation-for="BookSet.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookSet.Height" class="control-label"></label>
                <input asp-for="BookSet.Height" class="form-control" />
                <span asp-validation-for="BookSet.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="LibraryId">
                    @foreach(var library in ViewBag.List)
                    {
                        <option value="@library.Id">@library.Genre</option>
                    })
                </select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
